/* inicio estilos de pagina de galeria */

.galeria-page {
    display: flex;
    justify-content: center;
    
    margin: 20px;

    #head-fotos {
        @include tipografia('Raleway', 2.5rem, 5px)
    
    
    }
}

.galeria--pics {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-around;
    
    .imagen-galeria {
        height: 375px;
        width: 300px;
    
        margin: 20px;  
    
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: ease;
    
        &:hover {
            transform: scale(1.2);
        }
    
    }
}

/* fin de estilo de galeria */