/* inicio estilo de main-left--bottom */

main-left--bottom {
    padding: 0;
    margin: 0;

    height: auto;
    width: auto;
    

    .img-pronto2 {
        height: auto;
        width: 600px;
        margin: 15px;
    }

    }

/* fin estilo de main-left--bottom */